<html>
    <head>
         <link href="css/bootstrap.min.css" rel="stylesheet">
         <link rel="icon"  type="image/icon"  href="Node.ico" />
         <script lang="javascript" src="lib/xlsx.full.min.js"></script>
    </head>
    <body ng-app="postgreSQL">
        <div class="container" style="margin-top:20px;"  ng-controller="postgreSQLCtrl">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">
                        <h1>
                            Admin Form
                        </h1>
                        <p>
                            Below are the companies enrolled
                            <br /> <br />

                        </p>

                    </div>
                </div>
            </div>

            <div class="row clearfix" style="margin-bottom:10px;">
                <div class="controls form-inline form-group">                    

                </div>
            </div>
        </div>
<script src="lib/jquery.js"></script>
        <script src="lib/main.js"></script>


    </body>

</html>
