<html>
    <head>
         <link href="css/bootstrap.min.css" rel="stylesheet">
         <link rel="icon"  type="image/icon"  href="Node.ico" />
         <script lang="javascript" src="lib/xlsx.full.min.js"></script>
    </head>
    <body ng-app="postgreSQL">
        <div class="container" style="margin-top:20px;"  ng-controller="postgreSQLCtrl">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">
                        <h1>
                            Registration Form
                        </h1>
                        <p>
                            This application will regster a cmpany, Node.js as language.
                            <br /> <br />

                        </p>

                    </div>
                </div>
            </div>

            <div class="row clearfix" style="margin-bottom:10px;">
                <div class="controls form-inline form-group">
                    <div class="col-md-2">
                        <input id="fName" name="fName"  placeholder="First Name"
                               type="text" class="form-control input-small">
                    </div>

                    <div class="col-md-2">
                        <input id="lName" name="lName"  placeholder="Last Name"
                               type="text" class="form-control input-small">
                    </div>
                    <div class="col-md-2">
                        <input id="eMail" name="eMail"  placeholder="Email"
                               type="text" class="form-control input-small">
                    </div>
                    <div class="col-md-2">
                        <input id="cName" name="cName"  placeholder="Company Name"
                               type="text" class="form-control input-small">
                    </div>
                    <div class="col-md-2">
                        <input id="lStartDate" name="lStartDate"  placeholder="License Start Date"
                               type="date" class="form-control input-small">
                    </div>
                    <div class="col-md-2">
                        <input id="lEndDate" name="lEndDate"  placeholder="License End Date"
                               type="date" class="form-control input-small">
                    </div>


                    <div class="col-md-2">
                        <button  id="btnAdd" name="btnAdd" class="btn btn-danger">Register</button>
                    </div>

                </div>
            </div>


        </div>
<script src="lib/jquery.js"></script>
        <script src="lib/main.js"></script>


    </body>

</html>
